# Dependencies
/node_modules

# Next.js build folder
/.next/

# Production build folder
/out/

# Static site export folder
/build

# Environment variables
.env*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

